




body{
	color: #00FF00; 
	 font-family: Verdana, sans-serif;}
	 main {float: left;
		width: 300px; }
		footer {margin-left: 100px;}
		p {color: yellowgreen}
		#epi {padding: 8px}
		.cla { color: gray }

		 a:link { color: darkblue;}
 a:visited {color: #B0098E; } 
 a:hover {color:  darkgoldenrod;}

 @media (min-width: 768px){
	img {display: grid; margin: auto;}
	nav li { display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start; text-decoration-thickness: 14px; font-size: large; color: brown;}
	footer{text-align: center; background-color: white;}

